:root {
  --primary-colour: #f0e5cc;
  --secondary-colour: #304D6D;
  --background-colour: #fafef1;
  --accent-colour: #c86c56;
  --accent-colour-02: #eed08c;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.image-container,
.sign-up-container {
  padding: 0px;
  margin: 0px;
}

/* LEFT MAIN DIV */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 40%;
  min-width: 350px;
}

#splash-img {
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  border-radius: 20px;
  border: 4px solid var(--accent-colour-02);
  background-color: var(--background-colour);
  margin: 0px 0px 300px 0px;
  height: 75px;
  box-shadow: 5px 5px 2px 0px var(--secondary-colour);
  min-width: 250px;
}

#logo-img {
  width: 50px;
  height: 50px;
  padding-right: 8px;
}

#logo-text {
  font-family: 'Zeyada', cursive;
  color: var(--accent-colour);
  font-size: max(3rem, 5vw);
  margin: 30px 0px 0px 0px;
  padding: 20px;
}

/* RIGHT MAIN DIV */

.sign-up-container {
  background-color: var(--background-colour);
  flex: 3 1 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Roboto', sans-serif;
}

.sign-up-container>div {
  padding: 40px;
}

#header,
#footer {
  flex: 1 1 30%
}

#header {
  display: flex;
  align-items: center;
}

#header h2 {
  color: var(--accent-colour-02);
  font-weight: 500;
}

/* FORM */

#form-container {
  flex: 1 1 40%;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  box-shadow: inset 0px 10px 0px 20px var(--primary-colour);
}

#form-container>h2 {
  font-weight: 500;
  padding: 0px 0px 10px 0px;
  color: var(--accent-colour);
}

form {
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: 50%;
  margin-bottom: 20px;
}

label, 
#password-warning {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

label {
  padding-bottom: 6px;
}

#password-warning {
  color: var(--accent-colour);
  padding-top: 4px;
}

label::after {
  content: " *";
  color: var(--accent-colour);
}

input {
  border: 2px var(--background-colour) solid;
  border-radius: 8px;
  background-color: var(--background-colour);
  color: var(--secondary-colour);
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  outline: none;
}

input:focus-visible {
  border: 2px var(--accent-colour) solid;
  outline: none;
  box-shadow: 2px 2px 2px 0px #d4d4d4;
}

.hidden {
  display: none;
}

input[type=password]:error {
  border-color: red;
}

/* FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  background-color: var(--background-colour);
}

#submit-button {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  height: 50px;
  border: 2px var(--background-colour) solid;
  border-radius: 10px;
  color: var(--secondary-colour);
  font-weight: 600;
  background-color: var(--primary-colour);
}

#submit-button:hover {
  border: 3px var(--accent-colour) solid;
}

span {
  margin-top: 30px;
  color: var(--secondary-colour)
}

a {
  color: var(--accent-colour);
  font-weight: 500;
}
