body,
html {
  height: 100%;
  --font-primary: #16425B;
  --font-secondary: #16425B;
  --background-primary: #e6f4f5;
  --background-secondary: #98c2dd;
  --background-tertiary: #98ddd8;
  --placeholder: #6d58a7;
  --border-color:  #ffffff;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1 / 3;
  font-family: 'Inter', sans-serif;
  color: var(--font-secondary);
  background-color: var(--background-primary);
  display: grid;
  grid-template-rows: 150px 50px 1fr;
  gap: 30px;
  border-right: 4px var(--border-color) solid;
}

.sidebar > div {
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  justify-items: start;
  padding: 0px 0px 0px 20px;
  gap: 10px;
}

.logo, 
.sidebar li {
  gap: 20px;
}

.logo {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px var(--border-color) solid;
}

.logo svg {
  height: 50px;
}

.dashboard {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar li {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.main-nav, 
.secondary-nav {
  font-size: 14px;
}

svg.dashboard {
  height: 30px;
  width: 30px;
  fill: var(--font-secondary);
}

svg.nav {
  height: 25px;
  width: 25px;
  fill: var(--font-secondary);
}

/* HEADER */

.header {
  grid-column: 2 / 3;
  background-color: var(--background-primary);
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0px 30px 0px 30px;
  color: var(--font-secondary);
  border-bottom: 4px var(--border-color) solid;
}

.notifications #profile-pic {
  height: 20px;
}

.search svg,
.home svg {
  height: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > * {
  display: flex;
  align-items: center;
}

.search form {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  justify-items: center;
  gap: 15px;
}

.search input {
  border-radius: 10px;
  background-color: var(--background-secondary);
  height: 1.5rem;
  min-width: 300px;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 5px;
}

.search button {
  appearance: none;
  background-color: var(--background-primary);
  border-width: 0px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.home {
  margin-right: 20px;
  gap: 20px;
}

.home img {
  height: 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 10px 0px 10px;
}

.greeting img {
  height: 50px;
}

.greeting span {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.greeting h4,
.greeting h2 {
  margin: 0px;
}

.greeting h4 {
  font-size: 0.8rem;
}

.greeting h2 {
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  background-color: var(--background-secondary);
  font-weight: 600;
  width: 80px;
  height: 30px;
  border: 2px var(--placeholder) solid;
  margin: 10px;
  border-radius: 15px;
}

/* MAIN CONTENT */

.main-content {
  grid-row-end: 3;
  grid-column-end: 3;
  background-color: var(--background-primary);
  display: flex;
  padding: 10px;
}

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.main-content-grid > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.main-content-grid h4 {
  margin: 20px 0px 0px 10px;
}

/* MAIN CONTENT --- SHARED */

.announcements-grid,
.card,
.top-users-grid {
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
  background-color: var(--background-secondary);
  padding: 15px;
}

.announcements,
.top-users {
  padding: 0px 20px 0px 20px;
}

.announcements-grid h6,
.top-users-grid h6,
.top-users-grid p {
  font-size: 0.8rem;
  margin: 0px;
}


/* MAIN CONTENT ---> PROJECTS */

.projects-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 10px;
}

.projects-grid svg {
  height: 20px;
  width: 20px;
}

.card {
  border-left: 8px var(--placeholder) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > * {
  display: flex;
}

.card > span {
  flex-direction: column;
}

.card h5 {
  font-size: 0.9rem;
  margin: 0px;
}

.card p {
  font-size: 0.8rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* MAIN CONTENT ---> RIGHT-CONTENT */

.right-content {
  display: flex; 
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

/* MAIN CONTENT ---> ANNOUNCEMENTS */

.announcements {
  grid-column-start: 2;
}

.announcements-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 15px;
}

.announcements-grid span {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #787878 solid;
}

.announcements-grid span:last-child {
  border: none;
}

.announcements-grid p {
  font-size: 0.6rem;
}

.announcements > h4 {
  margin-bottom: 10px;
}

/* MAIN CONTENT ---> TOP USERS */

.top-users {
  grid-column-start: 2;
  width: auto;
}

.top-users-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  justify-content: stretch;
  width: 100%;
}

.top-users-grid > div {
  display: flex;
  gap: 20px;
}

.top-users-grid img {
  height: 40px;
  width: 40px;
}

.top-users-grid span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.top-users-grid h6 {
  color: var(--font-primary);
  font-weight: 600;
  margin: 0px;
}

.top-users p {
  color: var(--font-secondary)
}

.top-users h4 {
  margin-bottom: 10px;
}

