body,
html {
  height: 100%;
  --font-primary: #6B705C;
  --font-secondary: #654534;
  --background-secondary: #B7B7A4;
  --background-primary: #FFE8D6;
  --placeholder: #DDBEA9;
  --placeholder-001: #A5A58D;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  gap: 10px;
}

/* SIDEBAR */

.sidebar {
  grid-row: 1 / 3;
  font-family: 'Inter', sans-serif;
  color: var(--font-secondary);
  background-color: var(--background-primary);
  display: grid;
  grid-template-rows: 100px 50px 1fr 1fr;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  justify-items: start;
  padding: 0px 0px 0px 20px;
  gap: 10px;
}

.logo, 
.sidebar li {
  gap: 20px;
}

.logo {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  height: 40px;
}

.dashboard {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar li {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.main-nav, 
.secondary-nav {
  font-size: 14px;
}

svg.dashboard {
  height: 30px;
  width: 30px;
  fill: var(--font-secondary);
}

svg.nav {
  height: 25px;
  width: 25px;
  fill: var(--font-secondary);
}

/* HEADER */

.header {
  grid-column: 2 / 3;
  background-color: var(--background-primary);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header div {
  border: 2px black solid;
}

.notifications #profile-pic {
  height: 20px;
}

.header svg,
.header img {
  height: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > * {
  display: flex;
  align-items: center;
}

.search form {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
}

form button {
  appearance: none;
}

.home {
  margin-right: 20px;
  gap: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 10px 0px 10px;
}

.greeting img {
  height: 50px;
}

.greeting span {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.greeting h4,
.greeting h2 {
  margin: 0px;
}

.greeting h4 {
  font-size: 0.8rem;
}

.greeting h2 {
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  background-color: var(--placeholder);
  font-weight: 600;
  width: 80px;
  height: 30px;
  border: 2px var(--placeholder-001) solid;
  margin: 10px;
  border-radius: 15px;
}

/* MAIN CONTENT */

.main-content {
  grid-row-end: 3;
  grid-column-end: 3;
  background-color: var(--background-secondary);
  display: flex;
  margin: 10px;
}

.main-content-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 300px;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.main-content-grid > div {
  background-color: lightpink;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.main-content-grid h4 {
  margin-left: 10px;
}

/* MAIN CONTENT 
---> PROJECTS */

.projects {
  grid-row: 1 / 3;
}

.projects-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 10px;
}

.projects-grid svg {
  height: 20px;
  width: 20px;
}

.card {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 10px;
  border-left: 8px var(--placeholder) solid;
  box-shadow: 
}

.card > * {
  display: flex;
}

.card > span {
  flex-direction: column;
}

.card h5 {
  font-size: 0.9rem;
  margin: 0px;
}

.card p {
  font-size: 0.8rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* MAIN CONTENT 
---> ANNOUNCEMENTS */

.announcements {
  grid-column-start: 2;
}

/* MAIN CONTENT 
---> TRENDING */

.trending {
  grid-column-start: 2;
}

